.banner {
 position: relative;
}

.banner__imagem {
    background: url(../img/banner.jpg) no-repeat center / cover;
    height: calc(100vh - 72px);
    width: 100%;    
}

.banner__titulo {
    color: var(--Branco-medio);
    font-family: var(--Pacifico);
    font-size: 5.0625rem;
    font-weight: initial;
    left: 50%;
    text-align: center;
    text-shadow: 0 4px 4px var(--Preto);
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;    
}


@media (max-width: 610px) {
    .banner__imagem {
        height: 40vh;
    }
    .banner__titulo {
        font-size: 2rem; 
    }
}



