.banner {
 position: relative;
}

.banner__imagem {
    width: 100%;
    height: calc(100vh - 72px);
}

.banner__titulo {
    font-family: var(--Pacifico);
    color: var(--Branco-medio);
    text-shadow: 0 4px 4px var(--Preto);
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 100%;
    font-weight: initial;
}


@media (max-width: 610px) {
    .banner__imagem {
        height: 40vh;
    }
    .banner__titulo {
        font-size: 2rem; 
    }
}



