:root{
    --Cinza-claro: #f9f9f9;
    --Cinza-medio: #808080;
    --Cinza-escuro: #333333;
    --Branco-medio: #fdfdfd;
    --Preto: #000000e7;
    --Vermelho-vinho: #8d0606;

    --Backgroud-claro: #E5E5E5;
    --Backgroud-vermelho-escuro: #720000;
    --Font-Cinza: #8C8888;

    --Pacifico: Pacifico, cursive;
}