.cabecalho {
    align-items: center;
    background-color: var(--Cinza-claro);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: lowercase; 
}

.menu {
    display: flex;
    
}

.menu__itens {
    list-style: none;
    
}

.menu__itens:last-child.menu__itens {
    margin-right: 0;
}

.menu__link {
    color: var(--Cinza-medio);
    margin-right: 1.25rem;
    padding-bottom: 3px;
    text-decoration: none;    
}

.menu__link.ativo {
    color: var(--Cinza-escuro);
    font-weight: bold;
}

.menu__link:hover {
    border-bottom: 1px solid var(--Cinza-escuro);
    color: var(--Cinza-escuro);
}


@media (max-width: 610px) {
    .cabecalho {
        flex-direction: column;
        padding: 0;
        width: 100%;
   }
   .menu__link {
       margin-left: .5rem;
       margin-right: .5rem;
   }
}




